<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Album</title>
        <link rel="stylesheet" type="text/css" href="/static/album.css">
    </head>
    <body>
    {{ if .Title }}
    <div class="responsive">
        <h2>{{ .Title }}</h2>
        <h4>{{ .Description }}</h4>
    </div>
    {{ end }}

    {{ range .Images }}
    <div class="responsive">
        <div class="gallery">
            {{ if .Title }}
            <div class="title">{{ .Title }}</div>
            {{ end }}

            {{ if .Video }}
            <video width=100% controls autoplay muted>
                <source src="{{ .Link }}">
            </video>
            {{ else }}
            <a target="_blank" href="{{ .Link }}">
                <img src="{{ .Link }}">
            </a>
            {{ end }}

            {{ if .Description }}
            <div class="desc">{{ .Description }}</div>
            {{ end }}
        </div>
    </div>
    {{ end }}
    </body>
</html>
