<html>
    <head>
        <title>Album</title>
        <style>
            img {
                max-width: 100%;
                max-height: 100vh;
                height: auto;
            }
        </style>
    </head>
    <body>
    {{ range .Images }}
        <h2>{{ .Title }}</h2>
        <h3>{{ .Description }}</h3>
        <a href="{{ .Link }}"><img src="{{ .Link }}"></a>
    {{ end }}
    </body>
</html>
